body {background: #a3a3a3;}

.container { width: 950px; margin: 0 auto; background: white;}

#logo {
	float: left;
	margin-right: 10px;
	width: 340px;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 10px;
}

#networkStats {
	float: left;
	margin-right: 10px;
	margin-right: 0;
	padding-right: 10px;
	padding-top: 25px;
	width: 580px;
	text-align: right;
}

#statusBar {
	float: left;
	margin-right: 10px;
	padding-left: 10px;
	width: 940px;
	background:#6b9ada;
}

#search {
	float: left;
}

#logout {
	float: right;
	margin-right: 50px;
	margin-top: 5px;
}

#navigationBar {
	float: left;
	width: 950px;
	margin: 0;
}

#mainContent {
	float: left;
	width: 930px;
	margin: 10px;
}

#contentLeft {
	float: left;
	margin-right: 10px;
	width: 420px;
	padding-top: 10px;
	padding-left: 10px;
}

#contentRight {
	float: left;
	margin-right: 10px;
	margin-right: 0;
	width: 500px;
	padding-top: 10px;
	padding-right: 10px;
}

#footer { float: left; margin-right: 10px; margin-right: 0; width: 950px; margin: 0; text-align: center;}

table {
	border-collapse:collapse;
}

table, td, th {
	text-align: center;
	border:1px solid;
}

tr.tr_alt td {
	background-color: #6cbfda;
}

tr.tr_footer td {
	background-color: #ffffff;
	text-align: right;
}

th {
	background-color: #dabd6b;
}

#hidden {
	display: none;
}
